@import '~sweetalert2/src/variables';
@import '~sweetalert2/src/sweetalert2';
 
 

$body-bg: #ffffff;

$primary: rgb(0, 75, 68);
$secondary: #E8E9EB;
$danger: #bcb2eb;
$success: #85CF4B;
$warning: #E6E5DB;
$info: #313638;

$blue: blue;
$indigo: indigo;
$purple: purple;
$pink: pink;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$teal: teal;
$cyan: cyan;
$white: white;
$gray: gray;
$gray-dark: darkslategray;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray,
  "gray-dark": $gray-dark,
) !default;
